{% extends "base.html" %}

{% block content %}

<body>
  
     <div class="container mt-3">
        <h1 class="text-center" style="font-weight: bolder; text-transform: capitalize; font-family:Verdana, Geneva, Tahoma, sans-serif;">ABOUT AQUAPONICS FISH POND</h1>
        <p>Many in sub-Saharan Africa live below the poverty line, leading to low protein intake from sources like meat or fish. Aquaculture, the science of breeding fish for local protein consumption and commercial gains is gaining ground in Africa, though very slowly. One of the challenges being setup cost. Others include the unavailability and unaffordability of the major raw materials like quality water and water monitoring devices and fish feed.

            Lack of datasets and documentation on monitoring growth parameters hamper the effective management and prediction of yields. Water quality impacts on the fish growth rate, feed consumption, and general wellbeing. Aquaponics is the system that combines conventional aquaculture (the raising of aquatic animals such as fish) with hydroponics (the method of growing plants in water i.e. soil-less farming of crops). It uses these two technologies in a symbiotic combination in which the plant uses the waste from the fish as food while at the same time filtering the water for immediate re-use by the fish.</p>



            <p>The system offers a diverse and stable platform for farmers to grow vegetables and fish together. This project is aimed at building a remotely monitored and controlled Internet of Things (IoT) fishpond water quality management system for the generation of labelled datasets both for the conventional ponds and the aquaponic pond systems.

                These datasets will enable machine learning researchers to build models for predicting fish yield in the aquaponics production system in terms of weight gain, water quality parameters, and feed consumption.</p>
     </div>


     <div class="container">
        <div class="row">
            <div class="col-md-4 p-2"> <img src="/static/images/photo1.jpeg" width="100%" height="300px" alt="">
            </div>


            <div class=" col-md-4 p-2"> <img src="/static/images/photo3.jpeg" width="100%" height="300px" alt="">
            </div>

            
            <div class=" col-md-4 p-2"><img src="/static/images/photo2.jpeg" width="100%" height="300px" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 p-2"> <img src="/static/images/DIY-aquaponic-plans.jpg" width="100%" height="300px" alt="">
            </div>


            <div class=" col-md-4 p-2"> <img src="/static/images/9-Ponds-fitted-with-Plant-beds-Day-23-scaled.jpg" width="100%" height="300px" alt="">
            </div>


            <div class=" col-md-4 p-2"><img src="/static/images/images (1).jpeg" width="100%" height="300px" alt="">
            </div>
        </div>
    </div>
    <style>
        li:hover{
            background-color: tomato;
            border-radius: 20px;
        }
    </style>
</body>
{% endblock %}